html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F7F7F6;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1650px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.order-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.order-item {
  margin-right: 8px;
}

.order-link {
  text-decoration: none;
  color: #8D8D8C;
  font-size: 18px;
}

.active {
  color: #000;
  font-weight: 600;
}

      /* CHOCO-BAR */

.choco-bar-list {
  max-width: 600px;
  list-style: none;
  box-shadow: 4px 4px 25px 4px #eee;
  padding: 30px;
  border-radius: 10px;
  display: block;
}

.choco-bar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 5px 0;
}

.before {
  position: relative;
  margin-left: 70px;
  font-size: 19px;
}

.before::before {
  position: absolute;
  right: 105%;
  bottom: -10px;
  content: "";
  width: 55px;
  height: 55px;
  background-image: url("../img/order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
  margin-right: 10px;
  display: inline-block;
  padding: 20px;
  border: 1px solid rgb(235, 230, 230);
  border-radius: 5px;
}

.before::after {
  position: absolute;
  content: "2";
  right: 108%;
  top: -25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: block;
  background-color: #288CC1;
  color: #fff;
  border-radius: 50%;
}

.cost {
  font-weight: bolder;
}

.choco-item {
  padding: 12px 0;
  border-top: 1px solid rgb(224, 220, 220);
  border-bottom: 1px solid rgb(224, 220, 220);
}






@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}